@page
@model QuanLyCuaHang_21880159.Pages.MH_LoaiHang.MH_TaoLoaiHangModel
@{
}
<form method="post">
    <label>Nhập mã loại hàng:</label><br>
    <input type="text" name="MaLoaiHang" value="" class="form-control" /><br>
    <label>Nhập tên loại hàng:</label><br>
    <input type="text" name="TenLoaiHang" value="" class="form-control" /><br>
    <input type="submit" value="Thêm loại hàng" class="btn btn-info" />
</form>
<br />
@Model.Chuoi